.section-about{
    background-color: $color-gray-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}
.section-feature{
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, 0.80),
    rgba($color-primary-dark, 0.80)),
    url('../img/nat-4.jpg');
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;
    //direct child selector
    & > * {
        transform: skewY(7deg);
    }
}
.section-tours{
    padding: 20rem 0 15rem 0;
    background-color: $color-gray-light-1;
    margin-top: -10rem;
}
.section-story{
    position: relative;
    padding: 15rem 0;
    //opacity: .15;
}
.section-book{
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom,$color-primary-light,$color-primary-dark);
}
.book{
    background-image: url(../img/nat-10.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 3rem 4rem rgba($color-black, 0.2);
    height: 50rem;
    &__solid-gradient{
        clip-path: polygon(0 0,55% 0,45% 100%,0 100%);
        background-color: rgba($color-white, .9);
        height: 50rem;
    }
    &__form{
        width: 50%;
        padding: 6rem;
    }

}